 @media (min-width: 1281px) {
    .border-custom {
      border-top: 10px double white;
      border-right: 10px double transparent;
      border-bottom: 10px double white;
      border-left: 10px double transparent;
    }
  }