
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: transparent;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 1%;
}

.delete-modal {
    width: 75%;
}

.detail-modal {
    width: 90%;

    .detail-modal__wrap {
        font-size: 16px;
    }

    .detail-modal__title {
        font-weight: bold;
        font-size: 26px;
    }

    .detail-modal__body {
        margin: 20px 0 10px 0;
    }
}

.modal-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: white;
    padding: 0 7px 7px 7px;
    justify-content: center;
    margin: 0 auto;
    border-radius: 15px;

    .modal-card-delete__body {
        padding: 10px;
        font-size: 20px;
        align-items: center;
    }

    button {
        padding: 8px;
        margin: 20px 0 5px 0;
    }

    button:hover {
        background-color: transparent;
    }
}

.close-wrap {
    border-radius: 5px;
    .close {
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
    }
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-width: 430px) {
    .delete-modal {
        width: 45%;
    }

    .detail-modal {
        width: 65%;
    }
}

@media only screen and (min-width: 675px) {
    .delete-modal {
        width: 35%;
    }

    .detail-modal {
        width: 50%;
    }
}

@media only screen and (min-width: 900px) {
    .delete-modal {
        width: 25%;
    }

    .detail-modal {
        width: 40%;
    }
}

@media only screen and (min-width: 1025px) {
    .delete-modal {
        width: 20%;
    }

    .detail-modal {
        width: 37%;
    }
}