@keyframes modal-anim {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-overlay {
  transition: opacity 0.25s ease;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    font-family: "Gabarito";
    transition: opacity 0.25s ease;
}

.description {
    font-size: 19px;
}

.image-user {
    width: 230px;
    height: 340px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.modal-content {
    background-color: transparent;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%;
    animation: modal-anim 0.3s;
}

.delete-modal {
    width: 75%;
}

.detail-modal {
    width: 95%;

    .detail-modal__wrap {
        font-size: 16px;
    }

    .detail-modal__title {
        font-weight: bold;
        font-size: 26px;
    }

    .detail-modal__body {
        margin: 20px 0 10px 0;
    }
}

.modal-card {
    background-color: white;
    padding: 0 7px 7px 7px;
    justify-content: center;
    margin: 0 auto;
    border-radius: 15px;
    line-height: 1.5;

    .modal-card-delete__body {
        font-size: 20px;
        align-items: center;
    }

    button {
        padding: 8px;
    }

    button:hover {
        background-color: transparent;
    }
}

.close-wrap {
    .close {
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
    }
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-width: 430px) {
    .delete-modal {
        width: 45%;
    }

    .detail-modal {
        width: 93%;
    }
}

@media only screen and (min-width: 500px) {
    .image-user {
        width: 350px;
        height: 400px;
    }
}

@media only screen and (min-width: 675px) {
    .delete-modal {
        width: 35%;
    }

    .detail-modal {
        width: 90%;
    }
}

@media only screen and (min-width: 900px) {
    .delete-modal {
        width: 25%;
    }

    
}

@media only screen and (min-width: 1025px) {
   
    .delete-modal {
        width: 20%;
    }

    .detail-modal {
        width: 75%;
    }

    .image-user {
        width: 430px;
        height: 430px;
    }
}