@tailwind base;
@tailwind components;
@tailwind utilities;

.background-color-custom {
  background: rgb(15, 15, 15);
  background: -moz-linear-gradient(
    90deg,
    rgba(15, 15, 15, 1) 10%,
    rgba(98, 99, 99, 1) 50%,
    rgba(15, 15, 15, 1) 90%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(15, 15, 15, 1) 10%,
    rgba(98, 99, 99, 1) 50%,
    rgba(15, 15, 15, 1) 90%
  );
  background: linear-gradient(
    90deg,
    rgba(15, 15, 15, 1) 10%,
    rgba(98, 99, 99, 1) 50%,
    rgba(15, 15, 15, 1) 90%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0f0f",endColorstr="#0f0f0f",GradientType=1);
}

.font-custom {
  font-family: "PT Mono", monospace;
}

body {
  overflow-y: scroll;
}
